.nickname {
    text-align: center;
    background-color: #474747;
    color: #acacac;
    font-family: vcr;
    font-size: 200px;
    width: 600px;
    height: 200px;
    resize: none;
    margin: 0 auto;
    border-style: inset;
    border-radius: 10px;
}

.congratulation {
    display: grid; 
    padding: 0;
}

.newRecord {
    height: 100px;
    display: inline-flex;
    margin: auto;
    font-family: vcr;
    font-size: 50px;
}

.send {
    margin-top: 0;
    margin: auto;
}

p {
    font-family: vcr;
    font-size: 50px;
    text-align: center;
}
